@model IEnumerable<DateTime>

@{
    ViewData["Title"] = "PaMuaDay";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">PaMuaDay</h1>

    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Napok, ahol papírt és műanyagot is szállítottak el</h5>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Dátumok</th>
                    </tr>
                 </thead>
                <tbody style="background: linear-gradient(to bottom right, green, blue);">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-light">
                                @($"{item.Year.ToString()}.{item.Month.ToString()}.{item.Day.ToString()}")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>